*{
	padding: 0;
	margin: 0;
}
body{
	background: #ccc;
}
#page-wrap{
	background: #FFF;
	width: 980px;
	margin: 0 auto;
}
header{
	background: red;
	color: white;
	text-align: center;
}
main{
	overflow: hidden;
}
section{
	float: left;
	text-align: justify;
	width: 600px;
	padding: 0 50px;
}
section h2{
	text-align: center;
}
p{
	padding-top: 10px;
}
h1{
	text-transform: uppercase;
	padding: 25px 0;
}
h2{
	text-transform: uppercase;
	line-height: 50px;
}
aside{
	text-align: center;
	background: aqua;
	float: left;
	width: 280px;
	overflow: hidden;
}
footer{
	background: black;
	color: white;
	margin-top: 30px;
	overflow: hidden;
}
.menu-1{
	background: #34ff1c;
	bottom: 0;
	padding: 5px 0;
}
.menu-1 ul li{
	list-style: none;
	display: inline;
	font-size: 20px;
	margin-left: 20px;
	text-align: left;
}
.menu-1 a{
	text-decoration: none;
	color: grey;
}
.menu-1 a:hover{
	color: black;
}
.menu-2{
	float: left;
	background: #87ebff;
	padding: 25px 118px;
}
.menu-2 ul li{
	list-style: none;
	text-align: left;
	font-size: 20px;
}
.menu-2 a{
	text-decoration: none;
	color: black;
}
.menu-2 a:hover{
	color: #cccccc;
}
.footer-title{
	float: left;
	padding: 0 269px;
}
.top5{
	border: 1px solid black;
	border-radius: 5px;
	margin: 20px auto;
	padding: 10px 0;
	width: 260px;
}
.top5 h3{
	padding-bottom: 5px;
}